.container .row a{
    text-decoration: none;

}
.container .row a:hover{
    color:#F7A02B ;
}

.vertical-menu a {
    background-color: rgba(235, 233, 233, 0.425); /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: rgb(221, 240, 247); /* Dark grey background on mouse-over */
}

.vertical-menu{
    width: 100%;
}

.vertical-menu a.active {
    background-color: #17a2b8; /* Add a green color to the "active/current" link */
    color: white;
}

@media only screen and (max-width: 500px) {
    .vertical-menu{
        display: none;
    }
}